asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
Django==4.1
django-debug-toolbar==3.2.4
django-stubs==5.2.8
django-stubs-ext==5.2.8
djangorestframework==3.13.1
djangorestframework-stubs==3.16.6
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
idna==3.11
mccabe==0.7.0
pep8-naming==0.13.2
pillow==12.1.0
pycodestyle==2.9.1
pyflakes==2.5.0
pytz==2025.2
requests==2.32.5
sqlparse==0.5.5
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
typing_extensions==4.15.0
urllib3==2.6.2
